<div class="navbar-layout">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pravasa Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register-page">Register</a>
          </li>
        </ul>
        <form class="d-flex">
          <label *ngIf="showUser">{{userDetails.email}}</label>
          <button class="btn btn-outline-primary" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>
</div>
