.main-layout, .row-layout, .block-layout,.image-layout{
  display: flex;
  justify-content: center;
  align-items: center;

}
.main-layout{
  width: 100%;
  height: 100%;
}

.row-layout{
  padding: 1.5rem
}

.image-layout{
  width: 24rem;
  height: 22.5rem;
}
.block-layout:hover{
  cursor: pointer;
}
.block-layout{

  width: 25rem;
  height: 25rem;
  flex-direction: column;
  border: 0.1rem solid black;
  border-radius: 1rem;
  margin: 2rem;
}
