<div class="main-layout">
  <div class="row-layout">
    <div class="block-layout">
      <div class="image-layout">
        <img src="/images/depot.png" alt="Not Available" style="height:22.5rem; width:25rem" (click) = "onAddDepotClick()">
      </div>
      <label>Add New Depot</label>
    </div>
    <div class="block-layout">
      <div class="image-layout">
        <img src="/images/map.png" alt="Not Available" style="height:22.5rem; width:25rem" (click) = "onAddRouteClick()">
      </div>
      <label>Add New Route</label>
    </div>
    <div class="block-layout">
      <div class="image-layout">
        <img src="/images/stop.png" alt="Not Available" style="height:22.5rem; width:25rem"  (click) = "onAddStopClick()">
      </div>
      <label>Add New Stops</label>
    </div>
  </div>

</div>
