
  <div class="form-container">
    <form (ngSubmit)="submitForm()">
        <div class="form-field">
          <label for="depotName">Username</label>
          <input pInputText type="text" id="depotName" [(ngModel)]="userDetails.username" name="username" required>
        </div>
        <div class="form-field">
          <label for="depotCode">Password</label>
          <input pInputText type="password" id="depotCode" [(ngModel)]="userDetails.password" name="password" required>
        </div>
        <div class="form-btn">
          <p-button type="submit" label="Submit"></p-button>
        </div>
    </form>
  </div>

